@font-face {
    font-family: "inconsolata";
    src: url("./font.ttf") format('truetype');
    font-weight: normal;
    font-style: nommal;
}


#hash{
    background-color:#74a6f7;
    margin-left: 25px;
    padding-left:10px;
    padding-right:10px;
    border: 1px solid slategray;
}

#tmain{
    color: #20c1c0;
}

a#one{
    font-size:15px;
    margin-left: 15px;
    background-color: #74a6f7;
    width: 300px;
}

.btn{
    width: 80%;
    display: block;
    font-size:15px;
    margin-top:5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 2px solid #4c4c4c
}

.us_login{
    color: white;
    font-size:15px;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: #4c4c4c;
    width: 80%;
}

*{
    font-family: "inconsolata";
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}


body{
    background-color: white;
}

.clearfix{
    clear:both;
    float:none;
}

#archlogo{
    width: 250px;
}

#logo{
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    color: #4c4c4c;
    background: white;
    transition: all 500ms;
    line-height: 90px;

}

#menu{
    background-color: whitesmoke;
    width: 100%;
    clear: both;
    height: 50px;
    border-top: 5px #4c4c4c solid;
    border-bottom: 5px #4c4c4c solid;
}

#menu ul{
    list-style:none;
    padding:15px;
}

#menu ul li{
    float: left;
    padding-left: 20px;
}

#container{
    width: 85%;
    min-height: auto;
    margin: 0px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#sidebar{
    float:right;
    width: 25%;
}

.bloque{

    display: block;
    width:90%;
    margin-left: 0px;
    padding:15px;
    box-shadow: -41px 51px 68px 5px rgba(0, 0, 0, 0.06);
}

label,input[type="text"],
input[type="email"],
input[type="password"]{
    font-size:15px;
    display: block;
    width: 95%;
    margin-top: 15px;
    margin-bottom: 15px;
}

input[type="button"],
input[type="submit"]{
    font-size:15px;
    margin-top:5px;
    margin-bottom: 5px;
    background-color: #74a6f7;
    padding: 10px;
    width: 125px;
}



.principal{
    float:left;
    width:60%;
    min-height: auto;
    background-color: #4c4c4c;
    color:white;
    box-shadow: 0px 0px 5px #4c4c4c;
    margin-top:25px;
    margin-left: 20px;
    margin-right: 0px;
    padding:20px;
    overflow:hidden;
}

.principal h2{
    font-size: 25px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #ccc;
    font-family: "inconsolata";
    margin-top: 5px;
}

.principal p{
    font-family: monospace;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 15px;

}

#ver-todas {
    align-content: center;
    font-size: 20px;
    display:block;
    padding:15px;
    background: transparent;
    color: white;
    border-bottom: 1px solid white;
    cursor:pointer;
    width: 350px;
    margin:0px auto;
}

#pie{

    padding-top:75px;
    padding-bottom:15px;
    text-align: center;

}

div#container{
    border-right: 2px #4c4c4c solid;
}

div.principal{

    border-right: 2px black solid;
}

.left-p{
    float: right;

}